.AddChannel {
  display: flex;
  align-items: center;
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 .5rem .5rem black;
}

.Title {
  margin-right: auto;
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
}