.ChannelInfo {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #120F13;
  transition: all .3s;

  display: flex;
  flex-direction: column;

  .ChannelName, .ChannelDesc, .MembersTitle {
    margin: 0 2rem;
    color: white;
  }
  
  .ChannelName {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .ChannelDesc {
    word-break: break-all;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  
  .MembersTitle {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}