@import '../../../scss/mixins.scss';

.Navbar {
  background-color: #120F13;
  width: 20%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .3s;
  
  @include respond(tablet) {
    width: 25%;
  }
  
  @include respond(phone) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
  }
}

.DesactivatePhone {
  position: absolute;
  top: 1rem;
  left: 61%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #120F13;
  width: 4rem;
  height: 4rem;
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
  }
  
  @include respond(sm-phone) {
    left: 81%;
  }
}